p {
  border: solid;
  border-color: black;
  border-width: medium;
  margin: 0;
  border-bottom: 0;
  width: 300px;
  padding: 10px;
  font-size: 18px;
}

p:nth-child(2){
  border-top: 0;
}

p:hover{
  background: orange;
}
