.container{
    width: 100%;
    height: 300px;
    background: yellow;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
.item{
    align-self: flex-end;
    margin-left: 5px;
    display: inline-block;
    background: purple;
    width: 110px;
    height: 110px;
}